@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admins: </h2>

<p>
    @Html.ActionLink("Add New", "Add")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4>@item.UserName</h4>
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
